body {
    background-image: url("Images/background.jpeg") ;
}

.block {
    background-color: aliceblue;
    padding:30px ;
    margin: 25px;
    border: 5px solid rgb(rgba(233, 156, 56, 0.671));
}

.topper {
    color:orangered;
}
.navbar-brand{
    padding:6px;
    color: white !important;
    background-color: orangered;
   
}